/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  margin: 0;
  margin-top: 10px;
  background: #333333;
}
body .wrapper {
  background: #eeeeee url(../img/bg.jpg);
}
body .wrapper > header {
  position: relative;
  width: 800px;
  height: 30px;
  margin: 0 auto;
}
body .wrapper > header > .logo {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 250px;
  height: 130px;
  top: 0;
  left: 0;
  background: url(../img/logo.png) no-repeat;
}
body .wrapper > header > .slogan {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 20px;
  left: 280px;
  width: 500px;
  height: 60px;
  background: url(../img/slogan.png) no-repeat;
}
body .wrapper > header > .social {
  position: absolute;
  top: 90px;
  left: 300px;
}
body .wrapper > footer {
  width: 100%;
  height: 40px;
  padding-top: 20px;
  background: #333333;
}
body .wrapper > footer p {
  color: white;
  text-align: center;
}
body .wrapper > footer a {
  color: white;
}
body .wrapper > footer a:visited {
  color: white;
}

#main-body {
  width: 800px;
  margin: 100px auto 20px auto;
}

#slider {
  width: 800px;
  height: 531px;
  margin-bottom: 30px;
}

#info {
  overflow: hidden;
}
#info > section.info-block {
  float: left;
  width: 390px;
  margin-bottom: 30px;
  margin-right: 10px;
}
#info > section.info-block > h1 {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 60px;
  margin-bottom: 10px;
  background: url(../img/info-title.png) no-repeat;
}
#info > section.info-block > div.content {
  color: #333333;
  font-size: 20px;
  line-height: 150%;
}
#info > section.info-block > div.content a {
  color: #333333;
}
#info > section.info-block > div.content a:visited {
  color: #333333;
}
#info > section.info-block.about > h1 {
  background-position: 0 0;
}
#info > section.info-block.booking > h1 {
  background-position: 0 -60px;
}
#info > section.info-block.venue > h1 {
  background-position: 0 -120px;
}
#info > section.info-block.time > h1 {
  background-position: 0 -180px;
}
#info > section.info-block.venue iframe {
  border: 10px solid #333333;
}
