/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset

body
  color: #fff
  background: #930

#logo
  text-indent: 100%
  white-space: nowrap
  overflow: hidden
  width: 600px
  height: 400px
  background: url(../img/logo.png)
  margin: 0 auto

#nav
  overflow: hidden
  width: 800px
  margin: 0 auto

  li
    float: left

    a
      display: block
      width: 200px
      height: 100px
      line-height: 100px
      text-align: center
      text-shadow: #333 3px 3px 3px
      font:
        size: 2.5em

.time
  height: 50px
  text-align: center
